<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/Programmieren/1.12.2 - Server/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Desktop/Programmieren/1.12.2 - Server/server.jar!/" />
    </SOURCES>
  </library>
</component>